<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url(:thumb) %>
    <% end %>

    <%= f.input :avatar, label: false %>

    <%= f.input :name %>
    
    <% unless @user.provider == "twitter" %>
      <%= f.input :email %>
    <% end %>
    <%= f.input :about, input_html: { rows: 5 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
