<hr />
<div class="media post">
  <a class="media-left" href="#">
    <% if post.anonymous? %>
      <%= image_tag "anon.jpg" %>
    <% else %>
      <%= image_tag post.user.avatar.url(:thumb) %>
    <% end %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= post.content %></h4>
    <ul class="list-inline">
      <li>
        <small><%= time_ago_in_words(post.created_at) %> ago</small>
      </li>
      <li>
        <small><a href="https://twitter.com/intent/tweet?url=<%= URI.encode(post_url(post)) %>&text=<%= post.content %>">Share on twitter</a></small>
      </li>
      <% if post.user == current_user %>
        <li>
          <small><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></small>
        </li>
      <% end %>
    </ul>
  </div>
</div>
